* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color:rgb(33, 33, 33) 
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: rgba(231, 231, 231, 0.9);
    min-height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

header #nav-button {
    display: none;
}

nav {
    width: 100%;
    position: absolute;
    top: 100px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

nav ul {
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    background-color: rgba(231, 231, 231, 0.9);
    box-shadow: 5px 2px 5px black;
}

nav li {
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
}

nav li a{
    font-size: 1.25rem;
    color: black;
}

nav li:hover {
    scale: 110%;
}

main {
    margin-top: 100px;
    width: 100%;
}

.website-name {
    float: left;
    padding: 20px;
    min-width: 290px;
}

.website-name a {
    font-size: 2rem;
    color: black;
}

.social-media-links {
    display: none;
}

/* Styling the dropdown menu icon */
header .nav-icon {
    display: block;
    float: right;
    margin: auto 10px;
    padding: 10px;
    transition: all 0.5s;
}

header .nav-icon:hover {
    scale: 120%;
}

header .navicon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    position: relative;
    transition-delay: 0s, 1s;
}

header .navicon::before,
header .navicon::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
}

header .navicon::before {
    top: -5px;
    transition: all 0.5s;
}

header .navicon::after {
    top: 5px;
    transition: all 0.5s;
}

/* Dropdown menu transition */

#nav-button:checked~.nav-icon .navicon {
    background: transparent;
}

#nav-button:checked~.nav-icon .navicon::before {
    transform: rotate(45deg);
    top: 0;
}

#nav-button:checked~.nav-icon .navicon::after {
    transform: rotate(-45deg);
    top: 0;
}

#nav-button:checked~nav {
    max-height: 240px;
}

/* Styling the Grid on Home Page */

.home-grid {
    display: grid;
    max-width: 1200px;
    margin: 30px auto;
    padding: 1rem;
    grid-gap: 1.5rem;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
                        'one'
                        'one'
                        'two'
                        'three'
                        'four'
                        'five';
}

.grid-item {
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    transition: scale 0.3s ease-in-out;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    scale: 105%;
    opacity: 1;
}

.grid-item:nth-child(1) {
    grid-area: one;
    background-image: url('../media/images/excited.jpg');
    color: whitesmoke;
}

.grid-item:nth-child(2) {
    grid-area: two;
    background-image: url('../media/images/scholarship.jpg');
    color: whitesmoke;
}

.grid-item:nth-child(3) {
    grid-area: three;
    background-color: rgb(51, 255, 0);
}

.grid-item:nth-child(4) {
    grid-area: four;
    background-color: rgb(230, 0, 255);
}

.grid-item:nth-child(5) {
    grid-area: five;
    background-color: rgb(68, 68, 98);
}

footer {
    margin-top: 20px;
    background-color: rgba(231, 231, 231, 0.9);
    min-height: 2rem;
}

.footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}


/* Add responsive element to the menu */

@media (min-width: 880px) {
    header .nav-icon {
        display: none;
    }

    nav {
        position: relative;
        max-height: none;
        top: 0px;
        margin-top: 35px;
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 10px;
        margin-right: 40px;
        box-shadow: none;
        background: transparent;
    }

    nav li {
        padding: 0px 20px 0px 20px;
        border: none;
    }

    .home-grid {
        grid-template-areas: 
                            'one one'
                            'two three'
                            'four three'
                            'four five';
    }
}

@media (min-width: 1200px) {
    .social-media-links {
        display: flex;
        justify-content: right;
        gap: 20px;
        margin-top: 35px;
        margin-right: 30px;
        max-height: 30px;
    }

    .icon {
        height: 100%;
        width: auto;
        transition: all 0.5s;
    }

    .icon:hover {
        scale: 110%;
    }

    nav ul {
        justify-content: center;
    }

    .home-grid {
        grid-template-areas: 
                            'one one two'
                            'one one two'
                            'three four four'
                            'three four four'
                            'five five five';
    }
}